// Define variables for your color scheme

// SurfPal colors
$dark-blue: #0496ff;
$light-blue: #1be7ff;
$light-orange: #ffae03;
$orange: #ff8811;
$dark-orange: #fe4e00;
$grey: #F4F4F4;
$light-grey: #d1d1d1;


// Initial examples
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #d1d1d1;
