  // Specific CSS for your home-page

.container-fluid {
  padding-left: 96px;
}

.banner {
  position: bottom 300px right 300px;
  min-height: 100vh;
  min-width: 100%;
  background-size: cover !important;
  background-position: center !important;
  padding: 60px 0;
}

.banner h1 {
  margin: 0;
  color: $dark-orange;
  padding: 16px 0px 8px 0px;
  font-size: 44px;
  font-weight: bolder;
}

.banner p {
  font-size: 28px;
  color: black;
  opacity: .8;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .container-fluid {
    padding-left: 0px;
    max-width: 80%
  }

  .banner h1 {
  font-size: 38px;
  }

}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .container-fluid {
    padding-left: 0px;
    max-width: 80%;
  }

  .banner h1 {
  font-size: 38px;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 96px;
    max-width: 100%;
  }

  .banner h1 {
  font-size: 44px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container-fluid {
    padding-left: 96px;
  }
}
