.show-header {
  text-align: center;
  padding-top: 16px;
}
.show-container {
  display: flex;
}

.show-banner {
  overflow: hidden;
  background-image: white;
  height: 280px;
  width: 100vw;
  top: 0;
  margin: 16px 16px 0px 16px ;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.show-banner > img {

  height: 220px;
  width: 100%;
  object-fit: cover;
}

.show-banner-info {
  padding: 16px;
  position: relative;
}

.show-banner-info h2 {
  text-align: center;
}

.show-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.show-card {
  overflow: hidden;
  background: white;
  height: 216px;
  padding: 8px 8px 8px 8px ;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.show-card > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.show-card-info {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.show-card-info h2 {
  font-size: 24px;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .show-cards {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .show-cards {
    grid-template-columns: 1fr 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .show-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
