.carousel-item > img {

  height: 296px;
  width: 100%;
  object-fit: cover;
}

.show-banner-info {
  padding: 16px;
  display: flex;
  justify-content: center;
  position: relative;
}

.show-beach-card {
  overflow: hidden;
  background: white;
  padding: 8px ;
  margin: 8px;
  border-radius: 2px;
}

.show-beach-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.show-beach-card-review {
  overflow: hidden;
  min-height: 80px;
  background: white;
  display: flex;
  align-items: center;
  padding: 8px;
}

.show-beach-card-review-content {
  padding: 8px  8px  0px 16px ;
}

.show-beach-card-review-content h4 p {
  margin: 0px;
}

.show-card-info h2 {
  font-size: 24px;
}

.show-beach-card-info:hover {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

#show-info-ride-joiners {
  text-align: left;
  padding: 16px;
  margin: 16px;
}

.show-ride-info-container > img {
  width: 100%;
}


/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}
