<h1>My Profile</h1>

<!--User profile picture-->

<!--surf level-->
<div class="dropdown">Level</div>
  <div class="dropdown-content">
    <a href="#">Beginner</a>
    <a href="#">Intermediate</a>
    <a href="#">Pro</a>
  </div>
</div>

<!--Group or solo rides?-->
<div class="dropdown">Group or Solo?</div>
  <div class="dropdown-content">
    <a href="#">Group ride</a>
    <a href="#">Solo ride</a>
  </div>
</div>

<!--user age-->
<div class="dropdown">Age</div>
    <a href="#">14-17</a->
    <a href="#">18-23</a>
    <a href="#">24-29</a>
    <a href="#">30-39</a>
    <a href="#">40-49</a>
    <a href="#">50-59</a>
    <a href="#">60+</a>


<!--current location-->



<!--past rides-->




