<div class="banner">
  <div class="container">

    <h1>Find your next ride</h1>
    <p>We recommend the best surf sessions for you.</p>
    <br>
    <button type="button" class="btn btn-warning btn-lg">Search</button>
    </form>

  </div>
</div>
