.error-banner {
  overflow: hidden;
  background: white;
  height: 360px;
  margin: 16px ;
  padding: 24px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

.show-banner {
  overflow: hidden;
  background: white;
  height: 300px;
  width: 100vw;
  margin: 16px 16px 0px 16px ;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 2px;
}

.profile-banner {
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1549248264-3cc5e6fc43e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1191&q=80);
  background-size: cover;
  background-position: center;
  height: 140px;
  margin: 16px 16px 16px 16px ;
  border-radius: 3px;
  padding: 32px 80px 80px 256px ;
  text-align: left;
  z-index: 1;
}

.profile-banner a {
  color: $light-orange;
  text-decoration:none;
}

#profile-header {
  color: white;
  font-size: 40px;
}

.profile-banner:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
