#classic-btn {
  background: linear-gradient(90deg, #ffae03 0%, #ffa101 16%, #ff9200 33%, #ff8400 50%, #ff7400 66%, #ff6200 83%, #fe4e00 100%);
  border: solid 2px white;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  margin: 16px;
  height: 48px;
}

#search-btn {
  background-color: $dark-orange;
  border: solid 2px white;
  border-radius: 25px;
  width: 140px;
  color: white;
  float: right;
  margin: 24px 0px 24px 24px;
}

#search-btn:hover {
  background: none;
  background-color: white;
  color: $dark-orange;
  border: solid 2px $dark-orange;
}

#join-btn {
  background: none;
  font-size: 18px;
  border: solid 2px white;
  border-radius: 50px;
  color: white;
  margin: 8px;
  height: 48px;
}

#cancel-btn {
  background: linear-gradient(90deg, #ffae03 0%, #ffa101 16%, #ff9200 33%, #ff8400 50%, #ff7400 66%, #ff6200 83%, #fe4e00 100%);
  font-size: 18px;
  border: solid 2px white;
  border-radius: 50px;
  color: white;
  margin: 8px;
  height: 48px;
}

///////////// BEACH ICONS FOR RESULTS PAGE (INDEX) ////////////////
.results-beach-icons {
  font-size: 24px;
}

#results-beach-icon-on {
  color: $dark-grey;
}

#results-beach-icon-on:hover {
  color: $orange;
}

#results-beach-icon-off {
  color: $light-grey;
}

///////////// BEACH ICONS FOR THE SHOW PAGE ////////////////
.show-beach-icons {
  font-size: 28px;
  padding: 8px;
}

#show-beach-icon-on {
  padding: 12px;
  color: $dark-blue;
}

#show-beach-icon-on:hover {
  color: $orange;
}

#show-beach-icon-off {
  color: $light-grey;
}
