.first_card {
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.hertz.ma/upload/stuff/images/bouznika%20plage.jpg);
  background-position: center;
  height: 240px;
  border-radius: 3px;
  border: solid 2px $light-gray;
  display: grid;
  text-align: center;
  justify-content: space-around;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  padding: 40px 0px 0px 0px;
  margin: 16px 16px 0px 16px;
}

.first_card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: solid 4px $dark-orange;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  border: solid 2px $light-gray;
}

.card {
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502209944943-85c1d6146367?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  background-position: center;
  height: 160px;
  border-radius: 3px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: white;
  font-size: 12px;
}

.card:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: solid 2px $dark-orange;
}

.card h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  padding: 8px;
}

#outer-card {
  border: solid 0.5px rgba(0,0,0,0.2);
}

#card-info {
  font-size: 24px;
  opacity: .7;
  padding: 8px;
  text-align: left;
}

