<div class="content">
  <div class="results">
    <div class="big_card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
      Ain Diab
    </div>
  <div class="cards">

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
      Berlin
    </div>

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
      Shanghai
    </div>

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/barcelona)">
      Barcelona
    </div>

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/paris)">
      Paris
    </div>

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/london)">
      London
    </div>

    <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/melbourne)">
      Melbourne
    </div>
  </div>

  </div>

  <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
</div>
